<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MNmart - buy your best product with us</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MNmart</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/service">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="my-4">
      <div class="container">
        <div
          id="carouselExampleSlidesOnly"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="https://source.unsplash.com/random/?apple"
                class="d-block w-100"
                height="550"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://source.unsplash.com/random/?Pineapple"
                class="d-block w-100"
                height="550"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="https://source.unsplash.com/random/?banana"
                class="d-block w-100"
                height="550"
                alt="..."
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="my-10">
        <h1>Get know about fruits</h1>
        <div class="row">
          <div class="col-4">
            <div id="list-example" class="list-group">
              <a
                class="list-group-item list-group-item-action"
                href="#list-item-1"
                >Apple</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="#list-item-2"
                >Banana</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="#list-item-3"
                >Strawberry</a
              >
              <a
                class="list-group-item list-group-item-action"
                href="#list-item-4"
                >Watermelon</a
              >
            </div>
          </div>
          <div class="col-8">
            <div
              data-bs-spy="scroll"
              data-bs-target="#list-example"
              data-bs-smooth-scroll="true"
              class="scrollspy-example"
              tabindex="0"
            >
              <h4 id="list-item-1">Apple</h4>
              <p>
                Apples grown from seed tend to be very different from those of
                their parents, and the resultant fruit frequently lacks desired
                characteristics. Generally, apple cultivars are propagated by
                clonal grafting onto rootstocks. Apple trees grown without
                rootstocks tend to be larger and much slower to fruit after
                planting. Rootstocks are used to control the speed of growth and
                the size of the resulting tree, allowing for easier harvesting.
                There are more than 7,500 cultivars of apples. Different
                cultivars are bred for various tastes and uses, including
                cooking, eating raw, and cider production. Trees and fruit are
                prone to fungal, bacterial, and pest problems, which can be
                controlled by a number of organic and non-organic means. In
                2010, the fruit's genome was sequenced as part of research on
                disease control and selective breeding in apple production.
              </p>
              <h4 id="list-item-2">Banana</h4>
              <p>
                The banana plant is the largest herbaceous flowering plant.[9]
                All the above-ground parts of a banana plant grow from a
                structure usually called a "corm".[10] Plants are normally tall
                and fairly sturdy with a treelike appearance, but what appears
                to be a trunk is actually a "false stem" or pseudostem. Bananas
                grow in a wide variety of soils, as long as the soil is at least
                60 centimetres (2.0 ft) deep, has good drainage and is not
                compacted.[11] Banana plants are among the fastest growing of
                all plants, with daily surface growth rates recorded of 1.4
                square metres (15 sq ft) to 1.6 square metres (17 sq ft)
              </p>
              <h4 id="list-item-3">strawberry</h4>
              <p>
                The garden strawberry (or simply strawberry; Fragaria ×
                ananassa)[1] is a widely grown hybrid species of the genus
                Fragaria, collectively known as the strawberries, which are
                cultivated worldwide for their fruit. The fruit is widely
                appreciated for its characteristic aroma, bright red color,
                juicy texture, and sweetness. It is consumed in large
                quantities, either fresh or in such prepared foods as jam,
                juice, pies, ice cream, milkshakes, and chocolates. Artificial
                strawberry flavorings and aromas are also widely used in
                products such as candy, soap, lip gloss, perfume, and many
                others.
              </p>
              <h4 id="list-item-4">Watermelon</h4>
              <p>
                The watermelon is an annual that has a prostrate or climbing
                habit. Stems are up to 3 metres (10 feet) long and new growth
                has yellow or brown hairs. Leaves are 60 to 200 millimetres
                (2+1⁄4 to 7+3⁄4 inches) long and 40 to 150 mm (1+1⁄2 to 6 in)
                wide. These usually have three lobes that are lobed or doubly
                lobed. Young growth is densely woolly with yellowish-brown hairs
                which disappear as the plant ages. Like all but one species in
                the genus Citrullus, watermelon has branching tendrils. Plants
                have unisexual male or female flowers that are white or yellow
                and borne on 40-millimetre-long (1+1⁄2 in) hairy stalks. Each
                flower grows singly in the leaf axils, and the species' sexual
                system, with male and female flowers produced on each plant, is
                (monoecious). The male flowers predominate at the beginning of
                the season; the female flowers, which develop later, have
                inferior ovaries. The styles are united into a single
                column.[citation needed]
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
