<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MNmart | Our Products</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MNmart</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/service">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">Cart</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
        <div class="my-3">
          <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
              <div class="col">
                <div class="card">
                  <img
                    src="https://source.unsplash.com/random/?apple"
                    class="card-img-top"
                    height="400"
                    width="400"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Apple</h5>
                    <p class="card-text">
                      Apple trees are cultivated worldwide and are the most
                      widely grown species in the genus Malus. The tree
                      originated in Central Asia, where its wild ancestor, Malus
                      sieversii, is still found.
                    </p>
                    <a href="#" class="btn btn-primary">Place Order</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://source.unsplash.com/random/?banana"
                    class="card-img-top"
                    height="400"
                    width="400"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Banana</h5>
                    <p class="card-text">
                      A banana is an elongated, edible fruit – botanically a
                      berry – produced by several kinds of large herbaceous
                      flowering plants in the genus Musa
                    </p>
                    <a href="#" class="btn btn-primary">Place Order</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://source.unsplash.com/random/?Strawberries"
                    class="card-img-top"
                    height="400"
                    width="400"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Strawberries</h5>
                    <p class="card-text">
                      Strawberries are bright red, juicy, and sweet. They're an
                      excellent source of vitamin C and manganese and also
                      contain decent amounts of folate (vitamin B9) and
                      potassium.
                    </p>
                    <a href="#" class="btn btn-primary">Place Order</a>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card">
                  <img
                    src="https://source.unsplash.com/random/?	Watermelon"
                    class="card-img-top"
                    height="400"
                    width="400"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Watermelon</h5>
                    <p class="card-text">
                      Watermelon is grown in favorable climates from tropical to
                      temperate regions worldwide for its large edible fruit,
                      which is a berry with a hard rind and no internal
                      divisions, and is botanically called a pepo.
                    </p>
                    <a href="#" class="btn btn-primary">Place Order</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="my-4">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                  <div class="card">
                    <img
                      src="https://source.unsplash.com/random/?Pineapple"
                      class="card-img-top"
                      height="400"
                      width="400"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Pineapple</h5>
                      <p class="card-text">
                        Pineapples are rich in flavonoids and phenolic acids,
                        two antioxidants that protect your cells from free
                        radicals that can cause chronic disease.
                      </p>
                      <a href="#" class="btn btn-primary">Place Order</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img
                      src="https://source.unsplash.com/random/?Pomegranate"
                      class="card-img-top"
                      height="400"
                      width="400"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Pomegranate</h5>
                      <p class="card-text">
                        A pomegranate is a sweet, tart fruit with thick, red
                        skin. While the skin is not edible, it holds hundreds of
                        juicy seeds that you can eat plain or sprinkle on
                        salads, oatmeal, hummus, and other dishes.
                      </p>
                      <a href="#" class="btn btn-primary">Place Order</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img
                      src="https://source.unsplash.com/random/?Raspberries"
                      class="card-img-top"
                      height="400"
                      width="400"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Raspberries</h5>
                      <p class="card-text">
                        The raspberry is the edible fruit of a multitude of
                        plant species in the genus Rubus of the rose family,
                        most of which are in the subgenus Idaeobatus.
                      </p>
                      <a href="#" class="btn btn-primary">Place Order</a>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img
                      src="https://source.unsplash.com/random/?Tangerine"
                      class="card-img-top"
                      height="400"
                      width="400"
                      alt="..."
                    />
                    <div class="card-body">
                      <h5 class="card-title">Tangerine</h5>
                      <p class="card-text">
                        Tangerines are a type of mandarin, the second-largest
                        cultivated citrus fruit after oranges (1). Like oranges,
                        tangerines are orange in color — although some varieties
                        may have shades of green or red.
                      </p>
                      <a href="#" class="btn btn-primary">Place Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
